.x-tabbar {
    padding-top: 10px !important;
    border-bottom: 2px solid #306aa1 !important;
}

.mainPosting {
    padding: 10px 30px 10px 68px;
    height: 400px;
    width: 350px;
    font-size: 13pt;
    font-family: Georgia;
    background-color: white;
    border-color: white;
}

.secondPosting {
    padding: 10px 30px 10px 68px;
    max-height: 30px;
    height: 30px;
    width: 400px;
    background-color: #fff;
}

.thirdPosting {
    padding: 10px 10px 10px 68px;
    max-height: 30px;
    height: 30px;
    width: 400px;
    background-color: #fff;
}

.title {
    font-family: Georgia;
    padding: 10px 0 0px 0px;
    border-bottom: 2px solid black;
    text-align: center; 
    background-color: #fff;
    height: 60px;
    font-weight: bold;
    font-size: 24pt;
}

.topTitle {
    font-family: Georgia;
    padding: 13px 20px 0px 0px;
    padding-bottom: 200px;
    text-align: center; 
    color: white;
    font-weight: bold;
    font-size: 28pt;
}

h2 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 16pt;
}

h3 {
    padding-top: 5px;
    font-family: Arial;
    text-align: left;
    font-size: 13pt;
}


p {
    padding-top: 5px;
    line-height: 1.3em;
    font-family: Georgia;
    font-size: 14pt;

}

p a{
font-family: Georgia; 
color: black;
text-decoration: none;
}

a{
	font-size: 14pt;
}

.tweet .avatar {
    position: absolute;
    left: 10px;
}

.tweet .avatar img {
    max-width: 48px;
}

#postingButton {
    background-color: white;
    border-color: white;
    color: white;
}